body{
background: rgb(20, 62, 38);
display: flex; justify-content: center;
align-items: center;
height: 90vh;
}
button{
    padding: 20px;
    margin: 20px;
    border: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    border-radius: 30px;
    outline: none;
    background-color: #94722e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}